argon2-cffi
async-generator
attrs
backcall
beautifulsoup4
bleach
blis
boto3
botocore
certifi
cffi
chardet
click
cycler
cymem
Cython
decorator
defusedxml
empath
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.1.0/en_core_web_sm-2.1.0.tar.gz
entrypoints
gensim
idna
importlib-metadata
iniconfig
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2z
jmespath
joblib
kiwisolver
MarkupSafe
matplotlib
mistune
ml-metrics
murmurhash
nest-asyncio
neuralcoref
nltk
notebook
numpy
oauthlib
packaging
pandas
pandocfilters
parso
patsy
pexpect
pickleshare
Pillow
plac
pluggy
preshed
prometheus-client
prompt-toolkit
ptyprocess
py
pycparser
Pygments
pyparsing
pyrsistent
PySocks
pytest
python-dateutil
pytz
pyzmq
qtconsole
QtPy
regex
requests
requests-file
requests-oauthlib
s3transfer
scikit-learn
scipy
seaborn
Send2Trash
six
smart-open
soupsieve
spacy
srsly
statsmodels
terminado
testpath
thinc
threadpoolctl
tldextract
toml
tornado
tqdm
traitlets
tweepy
Unidecode
urllib3
wasabi
wcwidth
webencodings
widgetsnbextension
wordcloud
zipp
