attrs
beautifulsoup4
certifi
coverage
Cython
dragnet
ftfy
html5lib
importlib-metadata
iniconfig
lxml
numpy
packaging
pluggy
py
pyparsing
pytest
pytest-cov
scikit-learn
scipy
six
soupsieve
toml
tqdm
wcwidth
webencodings
zipp
